on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

name: CI

jobs:
  build_and_test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo test --all-features
